
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.slider-container {
    position: relative;
    text-align: center;
}

.slider {
    width: 400px; /* 작은 창의 너비 설정 */
    height: 500px; /* 작은 창의 높이 설정 */
    overflow: hidden;
    margin: 0;
}

.slides {
    display: flex;
    transition: transform 0.8s ease;
}

.slides img {
    width: 400px; /* 슬라이드 너비는 창의 너비와 같게 설정 */
    height: 500px; /* 슬라이드 높이는 창의 높이와 같게 설정 */
    flex-shrink: 0;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #141212;
}

.main-title {
    margin-top: 400px;
    font-size: 100px;
    font-weight: bold;

}

.subtitle {
    font-size: 1em;
    font-style: italic;
}

.enter-link {
    text-align: center;
    display: block;
    margin-top: 450px;
    font-size: 1.5em;
    color: #141212;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 15px;
}

.enter-link:hover {
    text-align: center;
    display: block;
    margin-top: 450px;
    font-size: 1.5em;
    color: #B2BEB5;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 15px;
}

